#game {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

#word {
    font-family: 'Amatic SC', cursive, monospace;
    text-align: center;
}

h1 {
    font-family: 'Amatic SC', cursive;
    display: block;
    padding: 20px;
    font-size: 60px;
    text-align: left;
}

h2 {
    font-family: 'Amatic SC', cursive;
    display: block;
    padding: 10px;
    text-align: left;
}

h3 {
    font-family: 'Amatic SC', cursive;
    display: block;
    padding: 10px;
    text-align: left;
}
.col {
    overflow: visible;

}

.container {
    text-align: center;
    width: 800px;
}